.botonUno{
    font-size: 1rem;
    background-color: #46aaa3;
    margin-right: 5px;
    border: none;
    transition: 0.2s ease;
}

.botonUno:hover{
    transform: scale(1.02);
    background-color: #46aaa3;
}

.botonVaciar{
    font-size: 1rem;
    background-color: #fb9a93 ;
    margin-left: 5px ;
    border: none;
    transition: 0.2s ease;
}

.botonVaciar:hover{
    transform: scale(1.02);
    background-color: #fb9a93 ;
}

.flexButtons{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.flexTotal{
    display: flex;
}

.hrCart{
    width: 100% !important;
    margin: 1rem;
    border-top-width: 1px;
    font-weight: 700;
    line-height: 1.75rem;
    font-size: 1.125rem;
    text-align: center;
}

.txtTotal{
    font-weight: 600;
    font-size: 1.10rem;
    margin: 3px 0px 0px 8px;
}

.txtTotalNum{
    font-weight: 600;
    font-size: 1.10rem;
    margin: 4px 8px 0px 0px;
}

.totalContainer{
    margin-top: 15px !important;
}

.noItemsCart{
    font-size: 3rem;
    margin: 20px;
}
.botonFinalizar{
    background-color:#ebabba;
    margin: 3px;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
    transition: ease-in-out 0.2s;
}
.botonFinalizar:hover{
    background-color:#ebabbac9;
}

.agregar{
    background-color: #94d9d4;
    align-self: center;
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem 1rem;
}