.row-container{
    gap: 1rem;
    margin-bottom: 2rem;
}
.subcomponent-container{
    background-color: rgba(190, 190, 190, 0.1);
    padding: 2rem 1rem;
    border-radius: 10px;
}
.ship-container__title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.ship-container__title h3{
    margin: 0;    
}
.ship-container__paragraph{
    text-align: center;
    margin-bottom: 0;
}