.shipping-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem
}
.shipping-image-container img{
    width: 100%;
}

.shipping-list li{
    font-size: 1.5rem;
    list-style: none;
    text-align: start;
}